body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(58, 60, 62);
    
}

#container {
    /* position: relative; */
    text-align: center;
}

#battery-indicator {
    padding: 2px;
    width: 150px;
    height: 35px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 6px;
    position: relative;
    margin-bottom: 8px;
    /* border:2px solid red */

}

#battery-indicator.horizontal {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* border:2px solid red */

}

#battery-indicator.vertical {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#battery-indicator::before {
    content: '';
    display: block;
    height: 100%;
    background-color: aliceblue;
    width: var(--battery-width, 50%); /* Default to 50% */
    border-radius: 4px;
}

#battery-percentage {
    /* position: absolute; */
    text-align: center;
    font-size: 23px;
    width: 100%;
    line-height: 20px; /* Match height of the indicator */
    color: white;
    /* border:2px solid red */
}

@media (max-width: 375px) {
    #battery-indicator {
        width: 20px;
        height: 100px;
        border-radius: 4px;
    }

    #battery-indicator::before {
        width: 100%;
    }

    #battery-percentage {
        top: 110%;
        line-height: 20px;
    }

    #icon::before {
        color: aliceblue;
        display: flex;
        margin-top: 4px;
        margin-left: 3px;
        content: '\f10b'; /* FontAwesome code for phone */
        font-family: 'Font Awesome 5 Free'; /* Ensure this matches FontAwesome version */
        font-weight: 900; /* Solid icons use font-weight 900 */
        font-size: 30px;
    }
}

@media (min-width: 376px) {
    #icon::before {
        color: aliceblue;
        display: flex;
        margin-left: 55px;
        margin-top: 10px;
        content: '\f109'; /* FontAwesome code for laptop */
        font-family: 'Font Awesome 5 Free'; /* Ensure this matches FontAwesome version */
        font-weight: 900; /* Solid icons use font-weight 900 */
        font-size: 40px;
        /* border: 1px solid red; */

    }
}
